label {
  font-size: 1.2rem;
}

input {
  font-size: 17px;
}

.bar {
  background-color: #ecfdda;
}

.header-container {
  color: #3d3d3d;
}

.page-title {
  background-color: #fff;
}

.profiles {
  background-color: #faf2e5;
  min-height: 400px;
  border-radius: 10px;
}

.wide-btn {
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #096900;
  color: white;
}

.wide-btn:hover {
  background-color: #003a69;
}

.off-color {
  background-color: #ecfdda;
  border: solid 2px #096900;
  color: black;
}

.off-color:hover {
  background-color: #daeafd;
}
